<html>
  <head> 
    <title> #REALTALK - realtime tweet streaming with Redis + Cramp </title> 
    <meta charset="utf-8" />
    <script src="//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
    <link href="/stylesheets/screen.css" rel="stylesheet" type="text/css">
    <link href="//fonts.googleapis.com/css?family=Chicle" rel="stylesheet" type="text/css">
    <link rel="icon" type="image/png" href="/images/favicon.png">
  </head> 

  <body>
    <div id="page">
      <h1>
        Real-time Tweets From Happy People
      </h1>

      <h2>
        Tweets pulled from the Twitter firehose in real-time and
        streamed to your browser using HTML5 Server-Sent Events,
        because who has time to wait?
      </h2>

      <h3>
        by John Manoogian III / <a href="http://www.jm3.net/">jm3</a>. 
        You might like <a href="http://twitter.com/jm3">following me on Twitter</a>. 
        <a href="//github.com/jm3/realtalk">Source code</a>.
      </h3>

      <div id="tweets"></div>

      <script src="/javascripts/app.js"></script> 
    </div>

  </body>
</html>
