<html>
  <head> 
    <title>Super Simple Chat with Sinatra</title> 
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
  </head> 
  <body>

    <div id="tweets"></div>

    <script>
      // updating on event receipt
      var es = new EventSource("/stream");
      es.onmessage = function(e) { 
        var tweet = jQuery.parseJSON( e.data );
        console.log( tweet[1] );
        $("#tweets").prepend("<div>" 
        + "<img class='icon' src='http://img.tweetimag.es/i/" + tweet[0]  +"_n' />"
        + tweet[1]
        + "</div>");
      };
    </script>

  </body>
</html>

