<html>
  <head> 
    <title> Links are just lights in the city. </title> 
    <meta charset="utf-8" />
    <style>
      #page {
        margin-top: 20px;
      }
      * {
        font-family: sans-serif;
        font-size: 14px;
      }
      #tweets {
        width: 600px;
        margin: 0 auto;
      }
      .tweet {
        clear: both;
        height: 70px;
        background-color: #eee;
        padding: 10px;
      }
      .tweet .icon {
        width: 48px;
        height: 48px;
        margin: 10px;
        float: left;
      }
      .tweet .text {
        display: block;
        padding: 10px;
      }
    </style>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
  </head> 
  <body>
    <div id="page">

      <div id="tweets"></div>

      <script>
        // update on event receipt
        var es = new EventSource("/stream");
        es.onmessage = function(e) { 
          var tweet = jQuery.parseJSON( e.data );
          $("#tweets").prepend("<div class='tweet' data-screen-name='" + tweet[0] + "'>" 
          + "<a target='tweet' href='http://twitter.com/" + tweet[0] + "'>"
          + "<div class='icon' style='background:url(http://img.tweetimag.es/i/" + tweet[0]  +"_n);' />"
          + "</a>"
          + "<span class='text'>"
          + tweet[1]
          + "</span>"
          + "</div>");
        };
      </script>
    </div>

  </body>
</html>

