<html>
  <head> 
    <title> #REALTALK - realtime tweet streaming with Redis + Cramp </title> 
    <meta charset="utf-8" />
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
    <link href='/stylesheets/screen.css' rel='stylesheet' type='text/css'>
    <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>
  </head> 

  <body>
    <div id="page">
      <h1>
        Real-time Tweets From Happy People
      </h1>

      <h2>
        Tweets pulled from the Twitter firehose in real-time and streamed to your browser using HTML5 Server-Sent Events, because who has time to wait?
      </h2>

      <h3>
        by John Manoogian III / <a href="http://www.jm3.net/">jm3</a>. You might like <a href="http://twitter.com/jm3">following me on Twitter</a>. <a href="https://github.com/jm3/realtalk">Source code</a>.
      </h3>

      <div id="tweets">
      </div>

      <script src="/javascripts/app.js"></script> 
      <script>
        // update on event receipt
        var es = new EventSource("/stream");
        es.onmessage = function(e) { 
          var tweet = jQuery.parseJSON( e.data );
          $("#tweets").prepend("<div class='tweet' data-screen-name='" + tweet[0] + "'>" 
          + "<a target='tweet' href='http://twitter.com/" + tweet[0] + "'>"
          + "<div class='icon' style='background-image:url(http://img.tweetimag.es/i/" + tweet[0]  +"_n);' />"
          + "</a>"
          + "<span class='text'>"
          + tweet[1]
          + "</span>"
          + "</div>");
        };
      </script>
    </div>

  </body>
</html>
