<html>
  <head> 
    <title> Links are just lights in the city. </title> 
    <meta charset="utf-8" />
    <style>

      #page {
        margin-top: 20px;
      }

      * {
        font-family: sans-serif;
        font-size: 14px;
      }

      h1 {
        text-align: center;
        font-family: 'Chicle', cursive;
        font-size: 46px;
        color: #555;
      }

      #tweets {
        width: 600px;
        margin: 0 auto;
      }

      .tweet {
        clear: both;
        height: 70px;
        background-color: #f5f5f5;
        padding: 10px;
        margin: 0 0 10px 0;
        -moz-border-radius: 10px;
        border: 3px solid #ddd;
        -moz-border-radius: 10px;
        -webkit-border-radius: 10px;

      }

      .tweet:hover {
        background-color: #ccc;
      }

      .tweet:hover .icon{
        border: 2px solid #666;
      }

      .tweet .icon {
        width: 48px;
        height: 48px;
        margin: 10px;
        float: left;
        background-color: #bbb;
        border: 2px solid #999;
      }

      .tweet .text {
        display: block;
        padding: 14px;
        color: #555;
      }

    </style>
    
    <script src="http://ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"></script> 
    <link href='http://fonts.googleapis.com/css?family=Chicle' rel='stylesheet' type='text/css'>

  </head> 
  <body>
    <div id="page">
      <h1>
        Real-time Tweets From Happy People
      </h1>

      <div id="tweets">
      </div>

      <script>
        // update on event receipt
        var es = new EventSource("/stream");
        es.onmessage = function(e) { 
          var tweet = jQuery.parseJSON( e.data );
          $("#tweets").prepend("<div class='tweet' data-screen-name='" + tweet[0] + "'>" 
          + "<a target='tweet' href='http://twitter.com/" + tweet[0] + "'>"
          + "<div class='icon' style='background-image:url(http://img.tweetimag.es/i/" + tweet[0]  +"_n);' />"
          + "</a>"
          + "<span class='text'>"
          + tweet[1]
          + "</span>"
          + "</div>");
        };
      </script>
    </div>

  </body>
</html>
