!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title #Realtalk - realtime tweet streaming by jm3. Uses Redis, Cramp, Ruby, HTML5, and a whole host of other jonk
      %meta{:content => "Realtime tweet streaming", :name => "description"}
      %meta{:content => "jm3 / John Manoogian III", :name => "author"}
      / HTML5 shim, for IE6-8 support of HTML elements, because assholes.
      /[if lt IE 9]
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      %link{:rel => "stylesheet", :href => "//twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"}/
      %link{:rel => "stylesheet", :href => "/stylesheets/screen.css"}/

      :css
        body { padding-top: 60px; }

      %link{:href => "/images/favicon.png", :rel => "icon", :type => "image/png"}

  %body
    .topbar
      .topbar-inner
        .container-fluid
          %a.brand{:href => "#"} #Realtalk
          %ul.nav
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "//www.jm3.net/"} About
            %li
              %a{:href => "mailto:jm3@jm3.net"} Contact
          %p.pull-right
            Created by
            %a{:href => "//www.jm3.net/"} jm3

    .container-fluid
      .sidebar

        .well
          %h5 About the author
          %p
            jm3 is founder and CTO of 
            = succeed "." do
              %a{:href => "//twitter.com/intent/user?screen_name=140ProofAds"} 140&nbsp;Proof
            He hacks on fun projects like this on the side.
          %ul
            %li
              %a{:href => "//twitter.com/intent/user?screen_name=jm3"} Twitter
            %li
              %a{:href => "//www.jm3.net/"} Web
            %li
              %a{:href => "//github.com/jm3/realtalk"} Code

        .well
          %h5 Colophon
          %ul
            %li
              Asynchrony by
              %a{:href => "//cramp.in/"} Cramp
            %li
              Pub/Sub by
              %a{:href => "//redis.io/"} Redis
            %li
              Streaming by
              %a{:href => "//en.wikipedia.org/wiki/WebSocket"} WebSockets
            %li
              Powered by
              %a{:href => "//www.ruby-lang.org/en/"} Ruby
            %li
              Templating by
              %a{:href => "//haml-lang.com/"} Haml
            %li
              Grid by
              %a{:href => "//twitter.github.com/bootstrap/"} Bootstrap
            %li
              Compat by
              %a{:href => "//jquery.com/"} jQuery
            %li
              JS polish by
              %a{:href => "//coffeescript.org/"} Coffeescript
            %li
              Gem jiving by
              %a{:href => "//gembundler.com/"} The Bundler
            %li
              Hosted by
              %a{:href => "//heroku.com/"} Heroku

      .content
        .hero-unit
          %h1
            = "#Realtalk"
            %span.pausable{:style => "display: none;"} is Paused

          %h3
            by John Manoogian III /
            = succeed "." do
              %a{:href => "//www.jm3.net/"} jm3
            You&rsquo;ll likely enjoy
            = succeed "." do
              %a{:href => "//twitter.com/intent/user?screen_name=jm3"} following me on Twitter

          %br

          %p
            Tweets streamed in real time from Twitter Inc&rsquo;s firehose
            directly to your browser using HTML5 Server-Sent Events,
            because who really has time to wait for&nbsp;tweets?

          %h3
            Currently streaming tweets about &ldquo;<span class="query">happy</span>&rdquo; to <span class="users_count">users</span>:

          %form#config{:action => "#", :name => "config"}
            %input#query{:placeholder => "happy", :name => "query"}

            %input#kind{:type => "hidden", :name => "kind", :value => "keyword"}

            %a.btn.primary.large#submit_btn New Stream
            %a.btn.large#pause_btn Pause
            %a.btn.large#csv_btn Download CSV

            %label
              %input#real_tweets_btn{:type => "checkbox", :name => "real_tweets_btn"}
              skip RTs / replies

          %form#data_buffer{:action => "/tweets.csv", :method => "post", :name => "data_buffer", :style => "display: none;", :target => "CSV"}
            %textarea#buffer{:rows => 60, :cols => 140, :name => "buffer", :style => "width: 900px;"}

          #tweets

          %p
        .row

          .span6
            %h2 Why Redis Rocks
            %p 
              Someday soon I will explain why Redis is an awesome
              data structure server. But not today. Etiam porta sem
              malesuada magna mollis euismod. Integer posuere erat
              a ante venenatis dapibus posuere velit aliquet. Aenean
              eu leo quam.

            %p
              %a.btn{:href => "#"} View details »

          .span5
            %h2 A Coffee conundrum
            %p 
              Donec id elit non mi porta gravida at eget metus.
              Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet
              risus.

            %p
              %a.btn{:href => "#"} View details »

          .span5
            %h2 The End of Reloading
            %p 
              Donec sed odio dui. Cras justo odio, dapibus ac
              facilisis in, egestas eget quam. Vestibulum id ligula
              porta felis euismod semper.

            %p
              %a.btn{:href => "#"} View details »

          .row
          %footer
            %p &copy; jm3, 2012

          %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}
          %script{:src => "/javascripts/app.js"}
          %script{:src => "//platform.twitter.com/widgets.js"}
