!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}
      %title #REALTALK - realtime tweet streaming with Redis + Cramp
      %meta{:content => "", :name => "description"}
      %meta{:content => "", :name => "author"}
      / Le HTML5 shim, for IE6-8 support of HTML elements
      /[if lt IE 9]
        <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
      %link{:rel => "stylesheet", :href => "http://twitter.github.com/bootstrap/1.4.0/bootstrap.min.css"}/
      %link{:rel => "stylesheet", :href => "/stylesheets/screen.css"}/
      %script{:src => "//ajax.googleapis.com/ajax/libs/jquery/1/jquery.min.js"}

      :css
        body { padding-top: 60px; }

      %link{:href => "/images/favicon.png", :rel => "icon", :type => "image/png"}
      %link{:href => "images/apple-touch-icon-72x72.png", :rel => "apple-touch-icon", :sizes => "72x72"}
      %link{:href => "images/apple-touch-icon-114x114.png", :rel => "apple-touch-icon", :sizes => "114x114"}

  %body
    .topbar
      .topbar-inner
        .container-fluid
          %a.brand{:href => "#"} #Realtalk
          %ul.nav
            %li.active
              %a{:href => "#"} Home
            %li
              %a{:href => "http://www.jm3.net/"} About
            %li
              %a{:href => "mailto:jm3@jm3.net"} Contact
          %p.pull-right
            Logged in as
            %a{:href => "#"} jm3

    .container-fluid
      .sidebar
        .well
          %h5 For future expansion

          %ul
            %li
              %a{:href => "http://twitter.com/jm"} Twitter
            %li
              %a{:href => "http://www.jm3.net/"} Web
            %li
              %a{:href => "http://github.com/jm3/realtalk"} Code

      .content
        .hero-unit
          %h1 REALTALK

          %p
            Tweets streamed in real time from Twitter Inc&rsquo;s firehose 
            to your browser using HTML5 Server-Sent Events,
            cause who the fuck has time to wait?

          %h3
            by John Manoogian III /
            = succeed "." do
              %a{:href => "http://www.jm3.net/"} jm3
            You&rsquo;ll likely enjoy
            = succeed "." do
              %a{:href => "http://twitter.com/jm3"} following me on Twitter
            View the
            = succeed "." do
              %a{:href => "//github.com/jm3/realtalk"} source code

          %form#config{:action => "#", :name => "config"}
            %input#query{:placeholder => "happy", :name => "query"}

            %input#kind{:type => "hidden", :name => "kind", :value => "keyword"}

            %a.btn.primary.large Update

          #tweets
          %script{:src => "/javascripts/app.js"}

          %p
            %a.btn.primary.large Learn more »
        / row of columns
        .row

          .span6
            %h2 Why Redis Rocks
            %p 
              Etiam porta sem malesuada magna mollis euismod. Integer
              posuere erat a ante venenatis dapibus posuere velit
              aliquet. Aenean eu leo quam. Pellentesque ornare sem
              lacinia quam venenatis vestibulum. Duis mollis, est
              non commodo luctus, nisi erat porttitor ligula, eget
              lacinia odio sem nec elit.

            %p
              %a.btn{:href => "#"} View details »

          .span5
            %h2 How Ruby Rules
            %p 
              Donec id elit non mi porta gravida at eget metus.
              Fusce dapibus, tellus ac cursus commodo, tortor mauris
              condimentum nibh, ut fermentum massa justo sit amet
              risus. Etiam porta sem malesuada magna mollis euismod.
              Donec sed odio dui.

            %p
              %a.btn{:href => "#"} View details »

          .span5
            %h2 The Death of Reloading
            %p 
              Donec sed odio dui. Cras justo odio, dapibus ac
              facilisis in, egestas eget quam. Vestibulum id ligula
              porta felis euismod semper. Fusce dapibus, tellus ac
              cursus commodo, tortor mauris condimentum nibh, ut
              fermentum massa justo sit amet risus.

            %p
              %a.btn{:href => "#"} View details »

          .row
          %footer
            %p © jm3, 2012

