.tweet {
  clear: both;
  height: 70px;
  background-color: #fff;
  padding: 10px;
  margin: 0 0 10px 0;
}

.tweet:hover {
  background-color: #ccc;
}

.tweet:hover .icon{
  border: 2px solid #666;
}

.tweet .icon {
  width: 48px;
  height: 48px;
  margin: 10px;
  float: left;
  background-color: #bbb;
  border: 2px solid #999;
}

.tweet .text {
  display: block;
  padding: 14px;
  color: #555;
}

