.tweet {
  background-color : #fff;
  clear            : both;
  height           : 70px;
  margin           : 0 0 10px 0;
  padding          : 10px;
}

.tweet:hover {
  background-color: #ccc;
}

.tweet:hover .icon{
  border: 2px solid #666;
}

.tweet .icon {
  background-color : #bbb;
  border           : 2px solid #999;
  float            : left;
  height           : 48px;
  margin           : 10px;
  width            : 48px;
}

.tweet .text {
  color        : #555;
  display      : block;
  padding      : 14px;
}

.pausable {
  color: red;
}

.permalink {
  color: #888;
}

.name {
  font-weight: bold;
}

/* blueprint shite */
body {
  padding-top: 60px;
}

/*------------------------------------*
 *  IPHONE                            *
 *------------------------------------*/

@media screen and (max-device-width: 480px){

/*--- iPhone only CSS here ---*/

  body {
    padding: 5px;
  }

  .container-fluid {
    min-width : inherit;
    padding   : 0;
  }

  .container-fluid > .content {
    margin: 0;
  }

  .hero-unit {
    padding: 0;
  }

  .hero-unit h1 {
    font-size      : 22px;
    letter-spacing : 0;
  }

  .hero-unit br {
    display: none;
  }

  h3 {
    font-size      : 15px;
    letter-spacing : 0px;
    line-height    : 16px;
  }

  h3.status {
    font-size: 11px;
  }

  .btn.large {
    margin-left : 10px;
    padding     : 0 3px 0 3px;
  }

  .hero-unit h2,
  .hero-unit p,
  h3.author,
  #csv_btn,
  div.sidebar,
  div.topbar,
  .row > [class*="span"],
  footer p {
    display: none;
  }

  form {
    margin-botton: 10px;
  }

  .tweet {
    padding: 5px;
  }

  .tweet .icon {
    margin: 5px;
  }

  .tweet .text {
    font-size   : 12px;
    line-height : 15px;
    padding     : 4px;
  }

  input#query {
    display : block;
    margin  : 5px;
    padding : 5px;
    width   : 90%;
  }
}
